<div id="contact_me">
  <div class="color_container">
    <h5>Contact Me Today</h5>
    <h5>For complementary virtual consultation or to make your future appointments.  </h5>
    <a href="mailto:hairbyjulielin@gmail.com" class="waves-effect waves-light btn"><i class="material-icons right">email</i>Email</a>
    <a href="tel:917-386-5485" class="waves-effect waves-light btn"><i class="material-icons right">phone</i>Call</a>
  </div>
</div>
