<div id="contact_me">
  <div class="color_container">
    <h5>Contact Me Today</h5>
    <h5>To revitalize your look with expertly blended, multi-dimensional highlights.</h5>
    <a href="/contact" class="waves-effect waves-light btn"><i class="material-icons right">email</i>Contact</a>
  </div>
</div>
