<div id="footer">

  <div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a href="tel:917-386-5485" class="btn-floating red"><i class="material-icons">local_phone</i></a></li>
      <li><a href="mailto:hairbyjulielin@gmail.com" class="btn-floating yellow darken-1"><i class="material-icons">email</i></a></li>
      <li><a href="/appointment" class="btn-floating green"><i class="material-icons">schedule</i></a></li>
    </ul>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Hair by Julie Lin</h5>
          <p class="grey-text text-lighten-4">"Fashions fade, style is eternal." Yves Saint Laurent</p>
          <p>COLOR QUEEN is my nick name. Either jazzing up your hair color or a complete make over, I'm your girl!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Follow Me</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Pinterest</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Hair By Julie Lin
      </div>
    </div>
  </footer>
</div>
