<div id="main_slider" class="single-item">
  <div id="slider_img">
    <img src="/images/slider/slide-1.jpg" alt="">
  </div>
  <div id="slider_img">
    <img src="/images/slider/slide-2.jpg" alt="">
  </div>
  <div id="slider_img">
    <img src="/images/slider/slide-3.jpg" alt="">
  </div>
</div>
