body #sidenav-overlay {
  z-index: 996; }

body .h_divider {
  border-bottom: solid; }

body nav, body .page-footer {
  background: #BDBEBF; }

body #banner {
  height: 100%; }
  body #banner #title {
    text-align: center;
    font-size: 3em; }
  body #banner .color_container {
    padding: 35px 0; }

body #contact_me, body #banner {
  text-align: center;
  background-color: rgba(51, 51, 51, 0.08); }
  body #contact_me .color_container, body #banner .color_container {
    padding: 50px 0; }

body #sidenav-overlay {
  z-index: 996; }

body .h_divider {
  border-bottom: solid; }

body nav, body .page-footer {
  background: #BDBEBF; }

body #banner {
  height: 100%; }
  body #banner #title {
    text-align: center;
    font-size: 3em; }
  body #banner .color_container {
    padding: 35px 0; }

body #contact_me, body #banner {
  text-align: center;
  background-color: rgba(51, 51, 51, 0.08); }
  body #contact_me .color_container, body #banner .color_container {
    padding: 50px 0; }

#index h3 {
  text-align: center; }

#index #about, #index #review {
  padding: 50px 0; }

#index #about #title {
  text-align: center; }

#index #about p {
  padding: 0 25px; }

#index #image_content img {
  width: 100%;
  height: auto; }

#index #address {
  text-align: center;
  padding: 35px 0; }
  #index #address h4 {
    padding-top: 35px; }

body #sidenav-overlay {
  z-index: 996; }

body .h_divider {
  border-bottom: solid; }

body nav, body .page-footer {
  background: #BDBEBF; }

body #banner {
  height: 100%; }
  body #banner #title {
    text-align: center;
    font-size: 3em; }
  body #banner .color_container {
    padding: 35px 0; }

body #contact_me, body #banner {
  text-align: center;
  background-color: rgba(51, 51, 51, 0.08); }
  body #contact_me .color_container, body #banner .color_container {
    padding: 50px 0; }

#appointment .vagaro #vagaro {
  width: 100%;
  height: 600px; }

#appointment .vagaro .mobile {
  text-align: center;
  padding: 30px 0px; }
  #appointment .vagaro .mobile #app_logo {
    width: auto;
    height: 50px; }

body #sidenav-overlay {
  z-index: 996; }

body .h_divider {
  border-bottom: solid; }

body nav, body .page-footer {
  background: #BDBEBF; }

body #banner {
  height: 100%; }
  body #banner #title {
    text-align: center;
    font-size: 3em; }
  body #banner .color_container {
    padding: 35px 0; }

body #contact_me, body #banner {
  text-align: center;
  background-color: rgba(51, 51, 51, 0.08); }
  body #contact_me .color_container, body #banner .color_container {
    padding: 50px 0; }

#error404 {
  margin-top: 60px;
  padding: 50px 0px; }
  #error404 img {
    width: 400px;
    height: auto; }
  #error404 #title {
    font-size: 2.3em; }
  #error404 #contents {
    font-size: .8em; }
  #error404 p {
    text-align: center; }

body #sidenav-overlay {
  z-index: 996; }

body .h_divider {
  border-bottom: solid; }

body nav, body .page-footer {
  background: #BDBEBF; }

body #banner {
  height: 100%; }
  body #banner #title {
    text-align: center;
    font-size: 3em; }
  body #banner .color_container {
    padding: 35px 0; }

body #contact_me, body #banner {
  text-align: center;
  background-color: rgba(51, 51, 51, 0.08); }
  body #contact_me .color_container, body #banner .color_container {
    padding: 50px 0; }

body #sidenav-overlay {
  z-index: 996; }

body .h_divider {
  border-bottom: solid; }

body nav, body .page-footer {
  background: #BDBEBF; }

body #banner {
  height: 100%; }
  body #banner #title {
    text-align: center;
    font-size: 3em; }
  body #banner .color_container {
    padding: 35px 0; }

body #contact_me, body #banner {
  text-align: center;
  background-color: rgba(51, 51, 51, 0.08); }
  body #contact_me .color_container, body #banner .color_container {
    padding: 50px 0; }

#main_slider #slider_img img {
  width: 100%;
  height: auto; }

#v_slider {
  text-align: center; }
  #v_slider p {
    padding-top: 15px; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9nbG9iYWwuc2NzcyIsIl92YXJpYWJsZXMuc2NzcyIsInZpZXdzL3BhZ2VzL19pbmRleC5zY3NzIiwidmlld3MvcGFnZXMvX2FwcG9pbnRtZW50LnNjc3MiLCJ2aWV3cy9wYWdlcy9fNDA0LnNjc3MiLCJ2aWV3cy9wYXJ0aWFscy9fc2xpZGVyLnNjc3MiLCJ2aWV3cy9wYXJ0aWFscy9fdnNsaWRlci5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUdBO0VBSUksYUFBYSxFQUNkOztBQUxIO0VBUUkscUJBQXFCLEVBQ3RCOztBQVRIO0VBYUksb0JDVm9CLEVEV3JCOztBQWRIO0VBaUJJLGFBQWEsRUFXZDtFQTVCSDtJQW9CTSxtQkFBbUI7SUFDbkIsZUFBZSxFQUNoQjtFQXRCTDtJQXlCTSxnQkFBZ0IsRUFDakI7O0FBMUJMO0VBK0JJLG1CQUFtQjtFQUluQix5Q0FBc0IsRUFDdkI7RUFwQ0g7SUFpQ00sZ0JBQWdCLEVBQ2pCOztBQWxDTDtFQUlJLGFBQWEsRUFDZDs7QUFMSDtFQVFJLHFCQUFxQixFQUN0Qjs7QUFUSDtFQWFJLG9CQ1ZvQixFRFdyQjs7QUFkSDtFQWlCSSxhQUFhLEVBV2Q7RUE1Qkg7SUFvQk0sbUJBQW1CO0lBQ25CLGVBQWUsRUFDaEI7RUF0Qkw7SUF5Qk0sZ0JBQWdCLEVBQ2pCOztBQTFCTDtFQStCSSxtQkFBbUI7RUFJbkIseUNBQXNCLEVBQ3ZCO0VBcENIO0lBaUNNLGdCQUFnQixFQUNqQjs7QUVqQ0w7RUFFSSxtQkFBbUIsRUFDcEI7O0FBSEg7RUFNSSxnQkFBZ0IsRUFFakI7O0FBUkg7RUFZTSxtQkFBbUIsRUFDcEI7O0FBYkw7RUFlTSxnQkFBZ0IsRUFDakI7O0FBaEJMO0VBcUJNLFlBQVk7RUFDWixhQUFhLEVBQ2Q7O0FBdkJMO0VBMkJJLG1CQUFtQjtFQUNuQixnQkFBZ0IsRUFLakI7RUFqQ0g7SUErQk0sa0JBQWtCLEVBQ25COztBRmpDTDtFQUlJLGFBQWEsRUFDZDs7QUFMSDtFQVFJLHFCQUFxQixFQUN0Qjs7QUFUSDtFQWFJLG9CQ1ZvQixFRFdyQjs7QUFkSDtFQWlCSSxhQUFhLEVBV2Q7RUE1Qkg7SUFvQk0sbUJBQW1CO0lBQ25CLGVBQWUsRUFDaEI7RUF0Qkw7SUF5Qk0sZ0JBQWdCLEVBQ2pCOztBQTFCTDtFQStCSSxtQkFBbUI7RUFJbkIseUNBQXNCLEVBQ3ZCO0VBcENIO0lBaUNNLGdCQUFnQixFQUNqQjs7QUdqQ0w7RUFPTSxZQUFZO0VBQ1osY0FBYyxFQUNmOztBQVRMO0VBWU0sbUJBQW1CO0VBQ25CLGtCQUFrQixFQU1uQjtFQW5CTDtJQWdCUSxZQUFZO0lBQ1osYUFBYSxFQUNkOztBSG5CUDtFQUlJLGFBQWEsRUFDZDs7QUFMSDtFQVFJLHFCQUFxQixFQUN0Qjs7QUFUSDtFQWFJLG9CQ1ZvQixFRFdyQjs7QUFkSDtFQWlCSSxhQUFhLEVBV2Q7RUE1Qkg7SUFvQk0sbUJBQW1CO0lBQ25CLGVBQWUsRUFDaEI7RUF0Qkw7SUF5Qk0sZ0JBQWdCLEVBQ2pCOztBQTFCTDtFQStCSSxtQkFBbUI7RUFJbkIseUNBQXNCLEVBQ3ZCO0VBcENIO0lBaUNNLGdCQUFnQixFQUNqQjs7QUlsQ0w7RUFDRSxpQkFBaUI7RUFDakIsa0JBQWtCLEVBZW5CO0VBakJEO0lBS0ksYUFBYTtJQUNiLGFBQWEsRUFDZDtFQVBIO0lBU0ksaUJBQWlCLEVBQ2xCO0VBVkg7SUFZSSxnQkFBZ0IsRUFDakI7RUFiSDtJQWVJLG1CQUFtQixFQUNwQjs7QUpoQkg7RUFJSSxhQUFhLEVBQ2Q7O0FBTEg7RUFRSSxxQkFBcUIsRUFDdEI7O0FBVEg7RUFhSSxvQkNWb0IsRURXckI7O0FBZEg7RUFpQkksYUFBYSxFQVdkO0VBNUJIO0lBb0JNLG1CQUFtQjtJQUNuQixlQUFlLEVBQ2hCO0VBdEJMO0lBeUJNLGdCQUFnQixFQUNqQjs7QUExQkw7RUErQkksbUJBQW1CO0VBSW5CLHlDQUFzQixFQUN2QjtFQXBDSDtJQWlDTSxnQkFBZ0IsRUFDakI7O0FBbENMO0VBSUksYUFBYSxFQUNkOztBQUxIO0VBUUkscUJBQXFCLEVBQ3RCOztBQVRIO0VBYUksb0JDVm9CLEVEV3JCOztBQWRIO0VBaUJJLGFBQWEsRUFXZDtFQTVCSDtJQW9CTSxtQkFBbUI7SUFDbkIsZUFBZSxFQUNoQjtFQXRCTDtJQXlCTSxnQkFBZ0IsRUFDakI7O0FBMUJMO0VBK0JJLG1CQUFtQjtFQUluQix5Q0FBc0IsRUFDdkI7RUFwQ0g7SUFpQ00sZ0JBQWdCLEVBQ2pCOztBS3JDTDtFQUdNLFlBQVk7RUFDWixhQUFhLEVBQ2Q7O0FDSkw7RUFDRSxtQkFBbUIsRUFJcEI7RUFMRDtJQUdJLGtCQUFrQixFQUNuQiIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCJ2YXJpYWJsZXNcIjtcblxuLy8gTWFpbiBiYXNpYyBzdHlsaW5nc1xuYm9keSB7XG5cbiAgI3NpZGVuYXYtb3ZlcmxheXtcbiAgICAvLyBkaXNwbGF5OiBub25lO1xuICAgIHotaW5kZXg6IDk5NjtcbiAgfVxuXG4gIC5oX2RpdmlkZXJ7XG4gICAgYm9yZGVyLWJvdHRvbTogc29saWQ7XG4gIH1cblxuICAvLyBUaGVtZXMgY3NzXG4gIG5hdiwgLnBhZ2UtZm9vdGVyIHtcbiAgICBiYWNrZ3JvdW5kOiAkZ19wX2JhY2tncm91bmQ7XG4gIH1cblxuICAjYmFubmVye1xuICAgIGhlaWdodDogMTAwJTtcblxuICAgICN0aXRsZSB7XG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICBmb250LXNpemU6IDNlbTtcbiAgICB9XG5cbiAgICAuY29sb3JfY29udGFpbmVye1xuICAgICAgcGFkZGluZzogMzVweCAwO1xuICAgIH1cblxuICB9XG5cbiAgI2NvbnRhY3RfbWUsICNiYW5uZXJ7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIC5jb2xvcl9jb250YWluZXJ7XG4gICAgICBwYWRkaW5nOiA1MHB4IDA7XG4gICAgfVxuICAgIGJhY2tncm91bmQtY29sb3I6IHJnYmEoNTEsNTEsNTEsMC4wOCk7XG4gIH1cbn1cbiIsIi8vIEdMT0JBTCBDT0xPUlNcbiRnX3RyYW5zcGFyZW50X2NvbG9yOiB0cmFuc3BhcmVudDtcbiRnX2JsYWNrX2dyZXlfY29sb3I6ICM0NDQ0NDQ7XG4kZ195ZWxsb3c6ICNmZmRmM2I7XG4kZ193aGl0ZTogI2ZmZmZmZjtcbiRnX2NyZWFtX2NvbG9yOiAjZmFmYWZhO1xuJGdfcF9iYWNrZ3JvdW5kOiAjQkRCRUJGO1xuXG5cbi8vIG1peGluZyAmIEBtZWRpYXNcbkBtaXhpbiBzbWFsbCgpIHtcbiAgQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLXdpZHRoOiAzMjBweCkgYW5kIChtYXgtd2lkdGg6IDM3NHB4KSB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn07XG5cbkBtaXhpbiBtZWRpdW0oKSB7XG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi13aWR0aDogMzc1cHgpIGFuZCAobWF4LXdpZHRoOiA0MTNweCkge1xuICAgIEBjb250ZW50O1xuICB9XG59XG5cbkBtaXhpbiBsYXJnZSgpIHtcbiAgQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA0MTRweCkgYW5kIChtYXgtd2lkdGg6IDc2N3B4KSB7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cblxuQG1peGluIGlwYWQoKSB7XG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNzY4cHgpIGFuZCAobWF4LXdpZHRoOiAxMDIzcHgpIHtcbiAgICBAY29udGVudDtcbiAgfVxufVxuXG5AbWl4aW4gaXBhZC1wcm8oKSB7XG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi13aWR0aDogMTAyNHB4KSAgYW5kIChtYXgtd2lkdGg6IDEzNjZweCl7XG4gICAgQGNvbnRlbnQ7XG4gIH1cbn1cblxuQG1peGluIGRlc2t0b3AoKSB7XG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi13aWR0aDogMTM2N3B4KXtcbiAgICBAY29udGVudDtcbiAgfVxufVxuIiwiLy8gaW1wb3J0IHN0eWxpbmdzXG5AaW1wb3J0IFwiZ2xvYmFsXCI7XG5cbi8vIGluZGV4IGxhbmRpbmcgcGFnZVxuI2luZGV4e1xuICBoM3tcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIH1cblxuICAjYWJvdXQsICNyZXZpZXd7XG4gICAgcGFkZGluZzogNTBweCAwO1xuXG4gIH1cblxuICAjYWJvdXQge1xuICAgICN0aXRsZXtcbiAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICB9XG4gICAgcHtcbiAgICAgIHBhZGRpbmc6IDAgMjVweDtcbiAgICB9XG4gIH1cblxuICAjaW1hZ2VfY29udGVudHtcbiAgICBpbWd7XG4gICAgICB3aWR0aDogMTAwJTtcbiAgICAgIGhlaWdodDogYXV0bztcbiAgICB9XG4gIH1cblxuICAjYWRkcmVzc3tcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgcGFkZGluZzogMzVweCAwO1xuXG4gICAgaDR7XG4gICAgICBwYWRkaW5nLXRvcDogMzVweDtcbiAgICB9XG4gIH1cblxufVxuIiwiLy8gaW1wb3J0IHN0eWxpbmdzXG5AaW1wb3J0IFwiZ2xvYmFsXCI7XG5cbi8vIGluZGV4IGxhbmRpbmcgcGFnZVxuI2FwcG9pbnRtZW50e1xuICBAaW5jbHVkZSBsYXJnZXtcbiAgICAvLyBiYWNrZ3JvdW5kLWNvbG9yOiBwaW5rO1xuICB9XG5cbiAgLnZhZ2FybyB7XG4gICAgI3ZhZ2Fyb3tcbiAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgaGVpZ2h0OiA2MDBweDtcbiAgICB9XG5cbiAgICAubW9iaWxle1xuICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgcGFkZGluZzogMzBweCAwcHg7XG5cbiAgICAgICNhcHBfbG9nb3tcbiAgICAgICAgd2lkdGg6IGF1dG87XG4gICAgICAgIGhlaWdodDogNTBweDtcbiAgICAgIH1cbiAgICB9XG4gIH1cblxufVxuIiwiLy8gaW1wb3J0IGdsb2JhbFxuQGltcG9ydCBcImdsb2JhbFwiO1xuXG4jZXJyb3I0MDR7XG4gIG1hcmdpbi10b3A6IDYwcHg7XG4gIHBhZGRpbmc6IDUwcHggMHB4O1xuXG4gIGltZ3tcbiAgICB3aWR0aDogNDAwcHg7XG4gICAgaGVpZ2h0OiBhdXRvO1xuICB9XG4gICN0aXRsZXtcbiAgICBmb250LXNpemU6IDIuM2VtO1xuICB9XG4gICNjb250ZW50c3tcbiAgICBmb250LXNpemU6IC44ZW07XG4gIH1cbiAgcHtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIH1cbn1cbiIsIiNtYWluX3NsaWRlcntcbiAgI3NsaWRlcl9pbWd7XG4gICAgaW1ne1xuICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICBoZWlnaHQ6IGF1dG87XG4gICAgfVxuICB9XG59XG4iLCJcbiN2X3NsaWRlcntcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBwe1xuICAgIHBhZGRpbmctdG9wOiAxNXB4O1xuICB9XG59XG4iXX0= */
