<% layout('main') -%>

<div id="about">

  <div id="banner">
    <div className="color_container">
      <div id="title">About Julie</div>
    </div>
  </div>
  
  <!-- partials -->
  <%- include ../partials/contact %>

</div>
