<% layout('main') -%>

<div id="appointment">

  <div id="banner">
    <div className="color_container">
      <div id="title">Schedule Appointment</div>
    </div>
  </div>

  <div class="vagaro container">
    <iframe id="vagaro" src="https://www.vagaro.com/Users/BusinessWidget.aspx?enc=MMLjhIwJMcwFQhXLL7ifVN5roAJ4eWUwmGtASlNwdDr2O54etpllJdk6GoqfNPH35Ksckj8+JwOFXRvm0F6gTJ+ON3UFEE76h4KxYe/jzLVEHBgtfNEXCaYWtxv4KVg8#" frameborder="0"></iframe>

    <div class="mobile">
      <h5>Download the Free App or use <a href="https://www.vagaro.com/hairbyjulielin/online-scheduling/widget">Vagaro.com</a></h5>

      <div id="download">
        <a href="https://itunes.apple.com/us/app/vagaro/id536110000?mt=8"><img id="app_logo" src="/images/mobile/apple.png" alt=""></a>
        <a href="https://play.google.com/store/apps/details?id=com.vagaro&hl=en"><img id="app_logo" src="/images/mobile/google.png" alt=""></a>
      </div>
    </div>

  </div>

  <!-- partials -->
  <%- include ../partials/contact %>

</div>
