<% layout('main') -%>

<div id="index">

  <h2>NodeJS - Express - Sass Starter</h2>

  <!-- partials -->
  <%- include ../partials/contact %>

  <!-- import javascript -->
  <%- include ../partials/javascripts %>
</div>
