<% layout('main') -%>

<div id="index">

  <!-- partials -->
  <%- include ../partials/slider %>


  <!-- main contents -->

  <div id="about" class="container">
    <h1 id="title">Content Title</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
  </div>

  <div class="container">
    <div class="h_divider"></div>

    <h3>Reviews</h3>
    <%- include ../partials/v_slider %>

  </div>

  <!-- <div id="image_content">
    <img src="/images/slider/slide-1.jpg" alt=""/>
  </div> -->

  <div id="address" class="container">
    <div class="h_divider"></div>
    <h4>Hair By Julie</h4>
    <h5>123 5th Avenue 2nd Floor New York , NY 10003</h5>
    <h5>Tel: 917-386-5485</h5>
  </div>

  <%- include ../partials/contact %>

  <!-- import javascript -->
  <%- include ../partials/javascripts %>
</div>
