<% layout('main') -%>

<div id="index">

  <!-- partials -->
  <%- include ../partials/slider %>

  <%- include ../partials/contact %>

  <!-- import javascript -->
  <%- include ../partials/javascripts %>
</div>
