<% layout('main') -%>

<div id="services">

  <div id="banner">
    <div className="color_container">
      <div id="title">Services</div>
    </div>
  </div>

  <!-- partials -->
  <%- include ../partials/contact %>

</div>
