@import "variables";

// Main basic stylings
body {

  #sidenav-overlay{
    // display: none;
    z-index: 996;
  }

  .h_divider{
    border-bottom: solid;
  }

  // Themes css
  nav, .page-footer {
    background: $g_p_background;
  }

  #banner{
    height: 100%;

    #title {
      text-align: center;
      font-size: 3em;
    }

    .color_container{
      padding: 35px 0;
    }

  }

  #contact_me, #banner{
    text-align: center;
    .color_container{
      padding: 50px 0;
    }
    background-color: rgba(51,51,51,0.08);
  }
}
